<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <title>
    {% block title %}
        Athemo -
    {% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
      {% load static %}
    <link href="{% get_static_prefix %}css/bootstrap.css" rel="stylesheet">
    <link href="{% get_static_prefix %}css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{% get_static_prefix %}style.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,200,400,500,600' rel='stylesheet' type='text/css'>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
      </script>
    <![endif]-->
    <!-- Le fav and touch icons -->


    <style type="text/css">
        {% block css %}
        {% endblock %}
    </style>

    {% block head %}
    {% endblock %}
  </head>
  <body>
  

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <ul class="nav">
              <li id="home-nav"><a class="brand" href="/"> Athemo </a></li>
            </ul>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li id="about-nav"><a href="#">About</a></li>
                    <li id="games-nav"><a href="{% url games %}">Games</a></li>
                    <li id="help-nav"><a href="#"> Help </a></li>
                    <li></li>
                </ul>
                <ul class="nav pull-right">
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Sign Up</a></li>
                        {% comment %}
                        {% if not request.user.is_authenticated %}
                            {% for name in social_auth.backends.oauth2 %}
                              <a href="{% url socialauth_begin name %}" class="btn">{{ name|title }}</a>
                            {% endfor %}
                        {% else %}
                          <a href="{% url logout %}" class="btn">Logout</a>
                        {% endif %}
                        {% endcomment %}
                </ul>
            </div>
        </div>
    </div>
</div>


    {% block content %}
    {% endblock %}


<div id="footer">
        <div class="container">
            <div class="row">
                <div class="span3" style="width: 180px">
                  <h4>Subjects</h4>
                  <p>
                     Biology<br>
                     Physics<br>
                     Chemistry<br>
                     Math
                  </p>
                </div>
                <div class="span3" style="width: 180px">
                    <h4>More Info &amp; About Us</h4>
                    <p>Team<br>
                     Testimonials<br>
                     Frequently Asked Questions<br>
                     Timeline</p>
               	</div>
                <div class="span3" style="width: 180px">

                    <h4>Help &amp; Support</h4>
                    <p>Download Latest Version<br>
                     Tech Support at it@athemo.com<br>
                     KnowledgeBase<br>
                     Donate</p>

                </div>
                <div class="span4">

                    <a href="#" class="btn btn-success btn-large" style="font-weight: bold; color: #fff; width: 300px; font-size: 15px">Click to Play Now!</a>

                    <br><br>

                    © 2013 RTMES. All rights reserved.

                    <br>
                    
                    <a href="/terms">Terms of Service</a>                    &nbsp;•&nbsp;
                    <a href="/privacy">Privacy Policy</a>                    &nbsp;•&nbsp;
                    <a href="mailto:hello@improvely.com">Contact Us</a>


                </div>
            </div>
        </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
    </script>
    <script src="{% get_static_prefix %}js/bootstrap.js">
    </script>




    {% block post_js %}
    {% endblock %}
  </body>
</html>
