{% extends 'base.html' %}

{% block css %}
.navbar {
    transition: box-shadow 0.2s linear;
border-bottom: 1px solid rgba(0,0,0,0.2);
    }
{% endblock %}

{% block content %}
    <div id="feature-tabs" style="cursor: pointer;" class="docked">
      <div alt="spend" class="tab active" style="cursor: pointer;">Biology</div>
      <div alt="save" class="tab " style="cursor: pointer;">Chemistry</div>
      <div alt="pay" class="tab" style="cursor: pointer;">Physics</div>
      <div alt="learn" class="tab" style="cursor: pointer;">Neuroscience</div>
    </div>

     <div id="myCarousel" class="carousel slide" data-pause="remove">
      <div class="carousel-inner">
        <div class="item active">
          <img src="/static/img/finding-nemo.png" class="jetstrap-highlighted">
          <div class="container">
            <div class="carousel-caption">
              <h1 class="">Battling Nemo!</h1>
              <p class="lead">Let the games begin! </p>
              <a class="btn btn-custom-blue btn-large" href="#">Click to Play!</a>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="container marketing">

      <div class="row">
        <div class="span4">
          <img class="img-circle" src="/static/img/fish.png">
          <h2 class="">Ecosystems</h2>
          <p class="">Each student plays a critical role at the same
                  time to see how their actions as "Nemo" or the "Shark" affect the environment.</p>
          <p class=""></p>
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" src="/static/img/algae.png">
          <h2 class="">Biology</h2>
          <p class="">Not only are they learning by doing, they are learning with each other.</p>
          <p class=""></p>
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" src="/static/img/shark.png">
          <h2>Food Chain</h2>
          <p class="">Learn about the prey and predator relationship in aquatic ecosystems.</p>
          <p class=""></p>
        </div>
      </div>
    </div>

    {% endblock %}
{% block post_js %}
<script type="text/javascript">
  $(document).ready( function() {
    $("#games-nav").addClass("active")
  })
</script>
{% endblock %}
  </body>
</html>

