{% extends 'base.html' %}

{% block content %}
    
    <div id="myCarousel" class="carousel slide" data-pause="remove">
      <div class="carousel-inner">
        <div class="item active">
          <img src="/static/img/class2.jpg" class="jetstrap-highlighted">
          <div class="container">
            <div class="carousel-caption">
              <h1 class="">Fun for your brain</h1>
              <p class="lead">Learn while having a lot of fun! Learn with your friends about key state-required concepts
                  quickly in the classroom. </p>
              <a class="btn btn-large btn-custom-blue" href="#">Learn more</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/static/img/dna2.png">
          <div class="container">
            <div class="carousel-caption">
              <h1>Learn better, together</h1>
              <p class="lead">Don't get information forced into your brain by a seemingly endless textbook.
                  Learn by seeing and doing through the Athemo experience.</p>
              <a class="btn btn-custom-blue btn-large" href="#">Learn more</a>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
    </div>
    
    
    
    <div class="container marketing">
    
      <div class="row">
        <div class="span4">
          <img class="img-circle" src="/static/img/fish.png">
          <h2 class="">Fun</h2>
          <p class="">
              Experience the thrill when you see how you can directly affect your friends’
              and classmates’ actions. It’s a competition to be the best organism or the chemical with the most impact.
          </p>
          <p class=""></p>
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" src="/static/img/algae.png">
          <h2 class="">Interactive</h2>
          <p class="">Put yourself right in the shoes of that chemical instead of just reading about it.
              More engaging means more learning.
          </p>
          <p class=""></p>
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" src="/static/img/shark.png">
          <h2>Flexible</h2>
          <p class="">
              Teachers can set specific characteristics for a game and let students see how those
              variables change the ecosystem. If we change the lifecycle of the prey, how will that
              change the rest of the food chain?
           </p>
           <p class=""></p>
        </div>
      </div>
    
    
      <hr class="featurette-divider">
    
      <div class="featurette">
        <img class="featurette-image pull-right" src="/static/img/fish-game-screen-f.png">
        <h2 class="featurette-heading">Collaborative Learning. <span class="muted">Like you've never seen before.</span></h2>
        <p class="lead" style="text-align:center;">Play with your entire class at once and learn what it's like to shape and impact a larger ecosystem.</p>
      </div>
    
      <hr class="featurette-divider">
    
    </div>

{% endblock %}

{% block post_js %}
<script type="text/javascript">
  $(document).ready( function() {
    $("#home-nav").addClass("active")
  })
</script>
{% endblock %}