{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block content %}
<div>
    <div class="container">
        <h2>Get Certified in SCOPED</h2>
        <p>
            Enter your email and verification code, and you'll be on your way to getting a badge you can show off to employers
            and coworkers alike about your certification as a SCOPED Associate!
        </p>
        <h4>
            <a href="">Click here for more help!</a>
        </h4>
        <p>
            Hi!
        </p>
    </div>
</div>
{% endblock %}

